<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <h1>Hello</h1>
        <!-- Formulaire de déconnexion -->
        <form action="/store/logout" method="post">
            <button type="submit">Déconnexion</button>            
        </form>
        <form action="/store/create" method="post">
        	Titre de la commande: <input  type = "text" name="titre" required>
            <button type="submit">Créer une nouvelle commande</button>            
        </form>
        <h1>La liste de votre commande</h1>
        <ul>
        <li th:each="commande: ${commandes}">
        <a th:href="@{/store/panier(id=${commande.id})}" th:text="${commande.titre}"></a>
        </li>
        </ul>
        
    </body>
</html>