<html xmlns:th="http://www.thymeleaf.org">

<body>

    <h1>Commande #<span th:text="${commande.id}"></span></h1>

    <table border="1">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.nomArticle}"></td>
                <td th:text="${article.qte}"></td>
                <td th:text="${article.prix} + ' €'"></td>
                <td th:text="${article.qte * article.prix} + ' €'" step = "0.01"></td>
            </tr>
        </tbody>
    </table>

    <p><strong>Total :</strong> <span th:text="${total}"></span> €</p>

    <button onclick="window.print()">Imprimer</button>

</body>
</html>
